@import './../../style/variables';

.main-header {
    margin-bottom: $xl;
    .logo {
        float: left;
        background: url('./../app/globals/assets/img/logo_red-01.png');
        width: $xl * 1.3;
        height: $lg;
        background-size: cover;
    }

    .main-nav {
        float: right;
    }
}