
//Colors
$vibrantRed: #F62459;
$vibrantBlue: #19B5FE;
$black: #22313F;
$grey: #34495E;
$offWhite: #F2F1EF;
$white: #fff;

//Spacing
$mic: 3px;
$tny: 8px;
$sm: 15px;
$med: 30px;
$lg: 60px;
$xl: 120px;